In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Here I will convert column "yob" and "age" to string as it contain different datatype ("--" exist in column "yob" and "age")

data1 = pd.read_csv ('GBA_data.csv', dtype={'yob': 'str', 'age': 'str'})

print(data1)

        origin  destination    start      end    id        type subscriber  \
0        316.0        311.0  07:41.0  10:06.2  2473  Concession         No
1         74.0         70.0  07:52.9  19:47.1  2423     Regular         No
2         97.0        125.0  09:31.7  28:43.2  3455     Regular         No
3         11.0        323.0  14:37.2  37:16.4  2173      Ad-Hoc         No
4         17.0          8.0  15:33.4  58:56.5  1788     Regular        Yes
...        ...          ...      ...      ...   ...         ...        ...
670004    89.0         30.0  42:34.6  47:38.9   558     Regular         No
670005   113.0        110.0  42:37.6  44:43.6  1243     Regular         No
670006   109.0        121.0  42:44.0  44:31.7  2403     Regular         No
670007    36.0         76.0  42:52.9  59:46.5  2545     Regular         No
670008     NaN          NaN  42:54.1  54:18.6  3767     Regular         No

         yob age gender
0       1957  63   Male
1       1986  34   Male
2       1992  28   Male
3       1995  25   Male
4       1994  26   Male
...      ...  ..    ...
670004  1978  42   Male
670005  1988  32   Male
670006  1980  40   Male
670007  1977  43   Male
670008  1991  29   Male

[670009 rows x 10 columns]

In [3]:
(data1 == '--').sum()

origin          0
destination     0
start           0
end             0
id              0
type            0
subscriber      0
yob            10
age            10
gender          0
dtype: int64

In [4]:
cleandata1 = data1.replace('-', np.nan)

In [9]:
cleandata2 = cleandata1.replace('--', np.nan)

In [12]:
cleandata3 = cleandata2.replace('?', np.nan)

In [13]:
cleandata3.isnull().sum(axis = 0/1)

origin         504
destination    504
start            0
end              0
id               0
type            10
subscriber       0
yob             10
age             10
gender           3
dtype: int64